body {
  background-color: #C4C8C3;
  color: black;
  font-family: arial;
  font-size: 12px;
  padding: 30px 0 0 0;
}

.container {
  background-color: white;
  border-radius: 25px;
  box-shadow: 5px 10px 18px #A6A8A8;
  height: 320px;
  margin: 0 0 20px 0;
  padding: 40px;
  width: 620px;
}

.top {
  display: inline-block;
  margin: 0 0 25px 0;
  width: 620px;
}

.display {
  background-color: lightblue;
  float: left;
  height: 220px;
  padding: 30px 0 0 0;
  width: 450px;
}

.temperature_readout {
  color: #61777F;
  font-family: 'VT323', monospace;
  font-size: 130px;
  padding: 20px 0 20px 0;
  margin: 0;
  -webkit-margin-after: 0;
  -webkit-margin-before: 0;
}

.temperature_display {
  line-height: 130px;
}

.power_display {
  padding: 5px 0 0 20px;
}

.power_readout {
  color: #61777F;
  float: left;
  font-family: 'VT323', monospace;
  font-size: 30px;
  margin: 0;
  -webkit-margin-after: 0;
  -webkit-margin-before: 0;
}

.temperature_buttons {
  float: right;
  height: 210px;
  margin: 0 0 0 0;
  width: 130px;
  padding: 30px 0 0 0;
}

.energy_light {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background: #FEB85E;
  box-shadow: 0 0 25px #FF9D3B;
  margin: 0 0 20px 0;
}

.bottom {
  display: inline-block;
  height: 100px;
  width: 620px;
}

.temp_button {
  padding: 15px 0 15px 0;
}

#up_temperature_button {
  background: white;
  border: 3px solid #C6C6C6;
  border-radius: 12px;
  color: #E66476;
  font-size: 30px;
  height: 50px;
  width: 120px;
}

#down_temperature_button {
  background: white;
  border: 3px solid #C6C6C6;
  border-radius: 12px;
  color: lightblue;
  font-size: 30px;
  height: 50px;
  width: 120px;
}

.control_buttons {
  float: left;
  padding: 0 0 0 10px;
  width: 380px;
}

.control_buttons button{
  background-color: white;
  border: 2px solid #C6C6C6;
  border-radius: 12px;
  color: #B3B3B3;
  display: inline-block;
  font-family: verdana;
  font-size: 12px;
  height: 50px;
  margin: 0 10px 0 10px;
  width: 100px;
}

button:focus { outline:0; }
select:focus { outline:0; }

.title {
  float: right;
  width: 200px;
}

.thermostat_title {
  color: #E66476;
  font-family: 'Lobster', cursive;
  font-size: 40px;
  font-style: oblique;
  margin: 0;
  -webkit-margin-after: 0;
  -webkit-margin-before: 0;
}

.weather {
  background-color: white;
  border-radius: 25px;
  box-shadow: 5px 10px 18px #A6A8A8;
  height: 100px;
  padding: 30px;
  width: 480px;
}

.weather_display {
  background-color: lightblue;
  color: #61777F;
  float: left;
  font-family: 'VT323', monospace;
  font-size: 30px;
  height: 35px;
  padding: 15px 10px 10px 10px;
  -webkit-margin-after: 0;
  -webkit-margin-before: 0;
  margin: 0 0 12px 0;
  width: 450px;
}

.weather_title {
  -webkit-margin-after: 0;
  -webkit-margin-before: 0;
}

.weather_display_title {
  float: left;
  color: #7FD4F9;
  font-family: 'Lobster', cursive;
  font-size: 35px;
  font-style: oblique;
  margin: 0;
  -webkit-margin-after: 0;
  -webkit-margin-before: 0;
  padding: 0 0 0 15px;
}

.weather_menu {
  float: right;
  padding: 7px 20px 0 0;
}

#city_select {
  background: white;
  border: 2px solid #C6C6C6;
  border-radius: 12px;
  color: #B3B3B3;
  font-family: verdana;
  height: 30px;
  width: 200px;
}
